.home-section ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.home-section {
    display: flex;
    gap: 20px;
}

.home-section ul li {
    border: 2px solid black;
    padding: 5px 20px;
    width: 350px;
    background-color: #dcf5ff;
}

.home-image {
    width: 550px;
    margin-left: 50px;
}

.logo-img {
    width: 90px;
    height: 90px;
}

.item {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}